footer {

	background-color: #383838;

	

	.logo {
		max-height: 64px;
	}

	p {
		font-size: $font-normal;
		color: $blanc;
		margin-bottom: 0;
		line-height: 1.5em;
	}

	hr {
		border-color: $gris-fosc;
	}

	a {
		color: $blanc;

		&:hover {
			color: $blanc;
			//text-decoration: none;
		}
	}
}