.wpcf7 {

	form {
		text-align: center;
		margin: auto;

		.wpcf7-not-valid-tip {
			text-align: left;
		}

		p {
			label {
				text-align: left;
			}
		} 

		input, textarea {

			&:not(.wpcf7-submit) {
				padding: 10px;
				border: none;
			}

			&.form-control {
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(255,92,0,.25);
				}
			}

			&.form-control[type="checkbox"] {
				&:focus {
					box-shadow: none;
				}
			}

			&.wpcf7-submit {
				padding: 10px 75px;
				background-color: white;
				border: none;
				width: 395px;
				margin: auto;
				display: block;
			}


			&::placeholder {
				color: $negre;
				opacity: 1; 
			}
		}

		a {
			color: $negre;
			text-decoration: underline;
		}
	}
}