header {

	

	a {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: $font-normal-up;

		&:hover {
			color: rgb(153,153,153);
		}
	}

	.navbar {
		top: 0; /* Stay on top */
		width: 100%; /* Full width */
		transition: all .2s ease-in; /* Transition effect when sliding down (and up) */

		.logo-nav {
			max-width: 35px;
		    left: 20px;
		    position: absolute;
		    opacity: 0;
		    transition: opacity .2s ease-in;
		} 

		.navbar-collapse {
			transition: all .2s ease-in;
		}

		&.in {
			background: $gris-fosc;

			.navbar-collapse {
				padding: 0 !important;
			}

			.logo-nav {
			    opacity: 1;
			} 

		}

	}

}	