html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.b-dark {
	background-color: $negre !important;
}

.b-taronja {
	background-color: $taronja !important;	
}

.text-taronja {
	color: $taronja;	
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-medium {
	font-weight: 600;
}

.animate-height {
	transition: height 1s ease;
}

.close {
	height: 0;
	overflow: hidden;
	padding: 0 !important;
}

.overflow-hidden {
	overflow: hidden;
}

#content {
	/*padding: 20px 0;*/
}

.single-landings {
	#content {
		padding: 0;
	}
}

.dark-bg {
	background-color: $gris-fosc;
	color: $blanc; 
} 

section {
	padding: 60px 15px;
}

section.super-width {
	padding: 0px 15px;

	h1 {
		padding-top: 60px;
	}
}

.full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

ul {
    list-style-type: disclosure-closed;
    padding-left: 0;
    padding-right: 50px;
    /*list-style-position: inside;*/
}

li {
	margin-bottom: 5px;
}

.remark {
    height: 4px;
    background: white;
    width: 100px;
}

.bg-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 50vh;
} 

.logo-slide-fixed {
    max-width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 100px;
}

span.titol-input {
    font-size: 1rem;
}

.grecaptcha-badge {
	display: none !important;
}
/*
input, textarea {
	max-width: 300px;
}*/

