body {
  font-family: $tipografia-general;
}

h1, h2 {
  font-family: $tipografia-alternativa;
  font-weight: 700;
}

h1 {
	font-size: $font-super-big;
	font-weight: 800;
}

h2 {
	font-size: $font-big-up;
}

h3 {
  font-size: $font-big;
  font-style: italic;
  color: $gris-clar;
}

p {
  font-weight: $normal-weight;
  font-size: $font-normal;
}

em {
  font-style: italic;
}

strong {
  font-weight: $bold-weight;
}