#home {
	.pictograma {
		max-width: 100px;
		max-height: 100px;
	}

	.pictograma-logo {
		max-height: 75px;
		margin: 20px auto;
	} 

	#motos {
		.pictograma {
			max-width: 250px;
			max-height: 250px;
		}

		.pictograma-logo {

		}
	}

	#bicicletes {
		.pictograma {
			max-width: 200px;
			max-height: 200px;
		}
	} 

}