$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 767px;

/*** HEADER ***/

@media (max-width: $breakpoint-tablet-max) {

}

@media (min-width: $breakpoint-tablet-min) {

	/*.wpcf7 form {
		width: 50%;
		}*/
}

@media screen and (max-width: 575px) {

	.slick-arrow {
		display: none;
	}
}