$fonts-path: "./fonts";

// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

// Synonyms
$regular-weight:    $normal-weight;
$book-weight:       $light-weight;
$xlight-weight:     $hairline-weight;
$ultralight-weight: $hairline-weight;
$heavy-weight:      $xbold-weight;

// Include fonts
// Order matters: normal, bold, italic, bold+italic
@font-face {
    font-family: 'Graphik';
    src: url('#{$fonts-path}/Graphik/Graphik-Bold.eot');
    src: url('#{$fonts-path}/Graphik/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-path}/Graphik/Graphik-Bold.woff2') format('woff2'),
        url('#{$fonts-path}/Graphik/Graphik-Bold.woff') format('woff'),
        url('#{$fonts-path}/Graphik/Graphik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



