:root {
  font-size: 14px;
}

$negre: #000;
$blanc: #fff;
$gris: #F2F2F2;
$gris-fosc: #333333;
$gris-clar: #666666;
$taronja: #ff5c00;
$soluciones-color: #2e2f62;

$font-normal: 1rem;
$font-small: 0.75rem;
$font-normal-up: 1.125rem;
$font-big: 1.875rem;
$font-big-up: 2.5rem;

$tipografia-general: 'Graphik', sans-serif;
$tipografia-alternativa: 'Inter', sans-serif;





